openapi: 3.0.1
info:
  title: PULL Nyomkövetés max. 500 csomagra / PULL Tracking up to 500 items
  description: "<div style='width: 100%;margin: 0px auto;'>\r\n<div style='float: left; width:47%'>\r\n<h1>PULL Nyomkövetés</h1>\r\n<h2>- tömeges nyomkövetés -</h2>\r\n<div>&nbsp;</div>\r\n<p>Csomagok nagy mennyiségben történő, tömeges nyomkövetésére lehetőséget adó API. Célja, hogy a csomagok utolsó tranzakciójáról aszinkron módon információt adjon(PULL).</p>\r\n<p>(Ha olyan nyomkövetést keres, ami egyetlen csomag gyors lekérdezésére, vagy pedig minden korábbi tranzakciójának lekérésére szolgál, akkor arra egy másik API szolgáltatásunk alkalmas: 1 csomagos pull nyomkövetés.)</p>\r\n<p>(Ha olyan nyomkövetést keres, ami csomagazonosítók beküldése nélkül is alkalmas az információk fogadására, akkor arra egy másik API szolgáltatásunk alkalmas: feliratkozás push nyomkövetésre.)</p>\r\n<p>Ebben az API-ban a POST hívással előállítani kért információkhoz késleltetve lehet majd hozzáférni (aszinkron működés). Az információ elérhetőségét ciklikus GET hívással lehet ellenőrizni.</p>\r\n<p>A végpontok működését leíró dokumentációt lentebb találja.</p>\r\n</div>\r\n<div style='float:right; width:47%'>\r\n<h1>PULL TRACKING</h1>\r\n<h2>- mass tracking up to 500 items -</h2>\r\n<div>&nbsp;</div>\r\n<p>An API enabling mass tracking of large volumes of parcels. Its purpose is to provide asynchronous information about the last transactions of parcels (polling).</p>\r\n<p>(If you're looking for a tracking service to quickly retrieve parcel information, or to retrieve all the previous transactions, you can use our other API service, called “Pull Tracking for 1 item”.)</p>\r\n<p>(If you're looking for a tracking service which can be performed without submitting any tracking number, you can use our other API service, called “Push Tracking subscription”.)</p>\r\n<p>In this API, the information requested to be produced by a POST call will be accessible with a delay (asynchronous operation). The availability of information can be checked by a cyclic GET call.</p>\r\n<p>Documentation describing how the endpoints work can be found below.</p>\r\n</div>\r\n</div>\r\n<div style='clear: both;'>\r\n\r\n### Az API a következő URL-eken érhető el: / This API can be accessed at the following URLs: ###\r\n<div><table><tr><td><b>Környezet / Environment</b></td><td><b>API URL</b></td><td><b>OAuth2 Token URL</b></td></tr><tr><td>Sandbox</td><td>https://sandbox.api.posta.hu/v2/mplapi-tracking</td><td>https://sandbox.api.posta.hu/oauth2/token</td></tr><tr><td>Production</td><td>https://core.api.posta.hu/v2/mplapi-tracking</td><td>https://core.api.posta.hu/oauth2/token</td></tr></table>\r\nAz API ezen az oldalon a Sandbox környezetben tesztelhető. / You can test the API on this page in the Sandbox environment."
  version: v2
servers:
  - url: 'https://sandbox.api.posta.hu/v2/mplapi-tracking'
    description: Sandbox
paths:
  /tracking:
    post:
      tags:
        - Tracking
      summary: "Maximum 500 küldeményazonosító beküldése. A korábban beküldött küldeményazonosítót nem javasoljuk újra beküldeni egy órán belül. \r\n  / \r\n  Submit up to 500 mail item IDs. We do not recommend resubmitting a previously submitted mail item ID within one hour."
      parameters:
        - name: X-Request-Id
          in: header
          schema:
            type: string
            format: uuid
          required: true
          description: "A kérés egyedi azonosítója (UUID formátumban)\r\n / \r\nThe unique request ID (UUID format)"
        - name: X-Correlation-Id
          in: header
          schema:
            type: string
            format: uuid
          required: false
          description: "Korrelációs azonosító (UUID formátumban)\r\n / \r\nThe request correlation ID (UUID format)"
        - name: X-Accounting-Code
          in: header
          schema:
            type: string
          required: true
          description: "Vevőkód\r\n / \r\nThe accounting code"
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackingQueryRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/TrackingQueryRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TrackingQueryRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingQueryResult'
        400:
          description: Bad request. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        401:
          description: Unauthorized. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        403:
          description: Forbidden. The caller client is not configured to call the APIs pubilshed on the requested host:port.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        404:
          description: Not found. The given path is not mapped to any valid path in the API Proxy. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        429:
          description: Too many requests. Spike Arrest Fault or Quota Limit Fault (https://docs.apigee.com/api-platform/reference/policies/spike-arrest-policy#runtime-errors, https://docs.apigee.com/api-platform/reference/policies/concurrent-rate-limit-policy#errorcodes). Check the X-Quota-Reset (when the quota counter will be reset), X-Quota-Allowed (quota limit for the time period), X-Quota-Available (number of actually available API calls) response headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        500:
          description: Internal server error. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        503:
          description: Service unavailable. The backend service is unavailable for some reason. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
      security:
        - oauth2_client_credentials: []
        - basic_auth: []
  /tracking/{trackingGUID}:
    get:
      tags:
        - Tracking
      summary: "Az egyes lekérdezések között, kérjük, tartson legalább 1 perc szünetet.A beküldött küldeményazonosítók mennyiségétől függően az információ előállítása több percet is igénybe vehet. Ha az adat még nem áll rendelkezésre, akkor a válasz még üres (\"NEW\" vagy \"INPROGRESS\").\r\n / \r\nPlease allow at least 1 minute between each query. Depending on the amount of mail item IDs submitted, it may take several minutes to generate the information. If the data is not yet available, the response will still be empty (\"NEW\" or \"INPROGRESS\")."
      parameters:
        - name: X-Request-Id
          in: header
          schema:
            type: string
            format: uuid
          required: true
          description: "A kérés egyedi azonosítója (UUID formátumban)\r\n / \r\nThe unique request ID (UUID format)"
        - name: X-Correlation-Id
          in: header
          schema:
            type: string
            format: uuid
          required: false
          description: "Korrelációs azonosító (UUID formátumban)\r\n / \r\nThe request correlation ID (UUID format)"
        - name: X-Accounting-Code
          in: header
          schema:
            type: string
          required: true
          description: "Vevőkód\r\n / \r\nThe accounting code"
        - name: trackingGUID
          in: path
          description: ''
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TrackingStatusResult'
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingStatusResult'
            text/json:
              schema:
                $ref: '#/components/schemas/TrackingStatusResult'
        400:
          description: Bad request. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        401:
          description: Unauthorized. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        403:
          description: Forbidden. The caller client is not configured to call the APIs pubilshed on the requested host:port.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        404:
          description: Not found. The given path is not mapped to any valid path in the API Proxy. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        429:
          description: Too many requests. Spike Arrest Fault or Quota Limit Fault (https://docs.apigee.com/api-platform/reference/policies/spike-arrest-policy#runtime-errors, https://docs.apigee.com/api-platform/reference/policies/concurrent-rate-limit-policy#errorcodes). Check the X-Quota-Reset (when the quota counter will be reset), X-Quota-Allowed (quota limit for the time period), X-Quota-Available (number of actually available API calls) response headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        500:
          description: Internal server error. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        503:
          description: Service unavailable. The backend service is unavailable for some reason. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
      security:
        - oauth2_client_credentials: []
        - basic_auth: []
components:
  schemas:
    ErrorDescriptor:
      type: object
      properties:
        code:
          type: string
          description: "Hibakód\r\n / \r\nError Code"
          nullable: true
          example: '103'
        parameter:
          type: string
          description: "További információ (például a hibás JSON mező neve)\r\n / \r\nAdditional information (such as the name of the invalid JSON field)"
          nullable: true
          example: sender.agreement
        text:
          type: string
          description: "Szöveges hibaüzenet\r\n / \r\nText error message"
          nullable: true
        text_eng:
          type: string
          description: "Szöveges hibaüzenet angol nyelven\r\n / \r\nText error message"
          nullable: true
      additionalProperties: false
      description: "Hiba adatai\r\n / \r\nError details"
    LanguageCodeEnum:
      enum:
        - HU
        - EN
      type: string
      description: "Nyelvi kód\r\n\r\n* `HU` - Magyar\r\n* `EN` - Angol\r\n"
    TrackingQueryRequest:
      required:
        - language
        - trackingNumbers
      type: object
      properties:
        trackingNumbers:
          minLength: 1
          type: array
          items:
            type: string
          description: "A kiválasztott postai azonosítók (ragszámok)\r\n / \r\nSelected postal IDs (tracking numbers)"
        language:
          $ref: '#/components/schemas/LanguageCodeEnum'
      additionalProperties: false
      description: ''
    TrackingQueryResult:
      type: object
      properties:
        trackingGUID:
          type: string
          description: trackingGUID
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDescriptor'
          description: "A kérés végrehajtása során észlelt hibák. Amennyiben van hibalista, úgy az adott kérés sikertelenül zárult.\r\n / \r\nErrors detected during request execution. If there is an error list, the request was unsuccessful."
          nullable: true
      additionalProperties: false
      description: ''
    TrackingStatusEnum:
      enum:
        - NEW
        - INPROGRESS
        - READY
        - ERROR
      type: string
      description: "Nyomkövetés lekérdezésének állapota\r\n\r\n* `NEW` - Új\r\n* `INPROGRESS` - Folyamatban\r\n* `READY` - Befejezett\r\n* `ERROR` - Hibás\r\n"
    TrackingStatusRequest:
      type: object
      properties:
        trackingGUID:
          type: string
          description: ''
          nullable: true
      additionalProperties: false
      description: ''
    TrackingStatusResult:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/TrackingStatusEnum'
        report:
          type: string
          description: Nyomkövetés eredmény adatok
          nullable: true
        report_fields:
          type: string
          description: Nyomkövetés eredmény fejléc
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDescriptor'
          description: "A kérés végrehajtása során észlelt hibák. Amennyiben van hibalista, úgy az adott kérés sikertelenül zárult.\r\n / \r\nErrors detected during request execution. If there is an error list, the request was unsuccessful."
          nullable: true
      additionalProperties: false
      description: ''
    ApiGatewayErrorResponse:
      type: object
      properties:
        fault:
          type: object
          properties:
            faultstring:
              type: string
            detail:
              type: object
              properties:
                errorcode:
                  type: string
  securitySchemes:
    oauth2_client_credentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://sandbox.api.posta.hu/oauth2/token
    basic_auth:
      type: http
      scheme: basic
