openapi: 3.0.1
info:
  title: MPL API
  description: "<div style='width: 100%;margin: 0px auto;'>\r\n    <div style='float: left; width:47%'>\r\n        <h1>MPL API</h1>\r\n        <h2> - címiratok nyomtatása, riportok lekérése, fixpontok lekérdezése </h2>\r\n        <div>&nbsp;</div>\r\n        <p>A végpontok működését leíró dokumentációt lentebb találja.</p>\r\n        <p>A fejlesztéshez szükséges további információkat, így az integrációs javaslatot, technikai leírást (token kérés), példa json-öket, stb., a fenti Dokumentáció menüre kattintva érheti el.</p>\r\n        <p>A lentebbi dokumentációban a</p>\r\n        <ul>\r\n            <li>csak belföldi alapszolgáltatáshoz használható elemeket a leírás elején szereplő ►DOM◄,</li>\r\n            <li>csak nemzetközi vonatkozásban használható elemeket a leírás elején szereplő ►INT◄</li>\r\n        </ul>\r\n        <p>szöveg jelzi.</p>\r\n        <p>Ahol nem szerepel semmilyen jelölés, azok az elemek mindkét vonatkozásban használhatók.</p>\r\n    </div>\r\n    <div style='float:right; width:47%'>\r\n        <h1>MPL API</h1>\r\n        <h2> - query of fixed points, printing of address labels, request for reports </h2>\r\n        <div>&nbsp;</div>\r\n        <p>Specification describing the operation of endpoints can be found below.</p>\r\n        <p>Any further information necessary for the development, such as the integration suggestion, technical description (token request), example JSONs, etc., are available by clicking on the Documentation menu above.</p>\r\n        <p>In the specification below,</p>\r\n        <ul>\r\n            <li>the elements that may be used only for domestic basic service are indicated by the lettering ►DOM◄,</li>\r\n            <li>the elements that may be used only in international regard are indicated by the lettering ►INT◄</li>\r\n        </ul>\r\n        <p>at the beginning of the description.</p>\r\n        <p>Where no indication is provided, those elements can be used in both cases.</p>\r\n    </div>\r\n</div>\r\n<div id=\"mplapi_descriptionContainer_bottom\"></div><div style='clear: both;'>\r\n\r\n### Az API a következő URL-eken érhető el: / This API can be accessed at the following URLs: ###\r\n<div><table><tr><td><b>Környezet / Environment</b></td><td><b>API URL</b></td><td><b>OAuth2 Token URL</b></td></tr><tr><td>Sandbox</td><td>https://sandbox.api.posta.hu/v2/mplapi</td><td>https://sandbox.api.posta.hu/oauth2/token</td></tr><tr><td>Production</td><td>https://core.api.posta.hu/v2/mplapi</td><td>https://core.api.posta.hu/oauth2/token</td></tr></table>\r\nAz API ezen az oldalon a Sandbox környezetben tesztelhető. / You can test the API on this page in the Sandbox environment."
  version: v2
servers:
  - url: 'https://sandbox.api.posta.hu/v2/mplapi'
    description: Sandbox
paths:
  /addresses/cityToZipCode:
    post:
      tags:
        - Address
      summary: "►DOM◄ Irányítószámok lekérdezése a megadott településnévhez.\r\n / \r\nQuery postcodes for a given settlement name."
      parameters:
        - name: X-Request-Id
          in: header
          schema:
            type: string
            format: uuid
          required: true
          description: "A kérés egyedi azonosítója (UUID formátumban)\r\n / \r\nThe unique request ID (UUID format)"
        - name: X-Correlation-Id
          in: header
          schema:
            type: string
            format: uuid
          required: false
          description: "Korrelációs azonosító (UUID formátumban)\r\n / \r\nThe request correlation ID (UUID format)"
        - name: X-Accounting-Code
          in: header
          schema:
            type: string
          required: true
          description: "Vevőkód\r\n / \r\nThe accounting code"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZipCodeQueryRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ZipCodeQueryRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ZipCodeQueryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZipCodeQueryResult'
        400:
          description: Bad request. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        401:
          description: Unauthorized. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        403:
          description: Forbidden. The caller client is not configured to call the APIs pubilshed on the requested host:port.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        404:
          description: Not found. The given path is not mapped to any valid path in the API Proxy. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        429:
          description: Too many requests. Spike Arrest Fault or Quota Limit Fault (https://docs.apigee.com/api-platform/reference/policies/spike-arrest-policy#runtime-errors, https://docs.apigee.com/api-platform/reference/policies/concurrent-rate-limit-policy#errorcodes). Check the X-Quota-Reset (when the quota counter will be reset), X-Quota-Allowed (quota limit for the time period), X-Quota-Available (number of actually available API calls) response headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        500:
          description: Internal server error. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        503:
          description: Service unavailable. The backend service is unavailable for some reason. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
      security:
        - oauth2_client_credentials: []
        - basic_auth: []
  /addresses/zipCodeToCity:
    post:
      tags:
        - Address
      summary: "►DOM◄ Település lekérdezése a megadott irányítószámhoz.\r\n / \r\nQuery settlement name for a given postcode."
      parameters:
        - name: X-Request-Id
          in: header
          schema:
            type: string
            format: uuid
          required: true
          description: "A kérés egyedi azonosítója (UUID formátumban)\r\n / \r\nThe unique request ID (UUID format)"
        - name: X-Correlation-Id
          in: header
          schema:
            type: string
            format: uuid
          required: false
          description: "Korrelációs azonosító (UUID formátumban)\r\n / \r\nThe request correlation ID (UUID format)"
        - name: X-Accounting-Code
          in: header
          schema:
            type: string
          required: true
          description: "Vevőkód\r\n / \r\nThe accounting code"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CityCodeQueryRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CityCodeQueryRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CityCodeQueryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CityCodeQueryResult'
        400:
          description: Bad request. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        401:
          description: Unauthorized. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        403:
          description: Forbidden. The caller client is not configured to call the APIs pubilshed on the requested host:port.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        404:
          description: Not found. The given path is not mapped to any valid path in the API Proxy. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        429:
          description: Too many requests. Spike Arrest Fault or Quota Limit Fault (https://docs.apigee.com/api-platform/reference/policies/spike-arrest-policy#runtime-errors, https://docs.apigee.com/api-platform/reference/policies/concurrent-rate-limit-policy#errorcodes). Check the X-Quota-Reset (when the quota counter will be reset), X-Quota-Allowed (quota limit for the time period), X-Quota-Available (number of actually available API calls) response headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        500:
          description: Internal server error. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        503:
          description: Service unavailable. The backend service is unavailable for some reason. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
      security:
        - oauth2_client_credentials: []
        - basic_auth: []
  /deliveryplace:
    post:
      tags:
        - DeliveryPlace
      summary: "►DOM◄ Fixponti kézbesítési helyek lekérdezése\r\n / \r\nQuery pick-up delivery locations"
      parameters:
        - name: X-Request-Id
          in: header
          schema:
            type: string
            format: uuid
          required: true
          description: "A kérés egyedi azonosítója (UUID formátumban)\r\n / \r\nThe unique request ID (UUID format)"
        - name: X-Correlation-Id
          in: header
          schema:
            type: string
            format: uuid
          required: false
          description: "Korrelációs azonosító (UUID formátumban)\r\n / \r\nThe request correlation ID (UUID format)"
        - name: X-Accounting-Code
          in: header
          schema:
            type: string
          required: true
          description: "Vevőkód\r\n / \r\nThe accounting code"
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryPlaceRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DeliveryPlaceRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DeliveryPlaceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeliveryPlaceResult'
        400:
          description: Bad request. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        401:
          description: Unauthorized. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        403:
          description: Forbidden. The caller client is not configured to call the APIs pubilshed on the requested host:port.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        404:
          description: Not found. The given path is not mapped to any valid path in the API Proxy. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        429:
          description: Too many requests. Spike Arrest Fault or Quota Limit Fault (https://docs.apigee.com/api-platform/reference/policies/spike-arrest-policy#runtime-errors, https://docs.apigee.com/api-platform/reference/policies/concurrent-rate-limit-policy#errorcodes). Check the X-Quota-Reset (when the quota counter will be reset), X-Quota-Allowed (quota limit for the time period), X-Quota-Available (number of actually available API calls) response headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        500:
          description: Internal server error. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        503:
          description: Service unavailable. The backend service is unavailable for some reason. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
      security:
        - oauth2_client_credentials: []
        - basic_auth: []
  /reports:
    post:
      tags:
        - Report
      summary: "Felvett csomagokról készült riportok lekérése.\r\n / \r\nReports on dispatched packages."
      parameters:
        - name: X-Request-Id
          in: header
          schema:
            type: string
            format: uuid
          required: true
          description: "A kérés egyedi azonosítója (UUID formátumban)\r\n / \r\nThe unique request ID (UUID format)"
        - name: X-Correlation-Id
          in: header
          schema:
            type: string
            format: uuid
          required: false
          description: "Korrelációs azonosító (UUID formátumban)\r\n / \r\nThe request correlation ID (UUID format)"
        - name: X-Accounting-Code
          in: header
          schema:
            type: string
          required: true
          description: "Vevőkód\r\n / \r\nThe accounting code"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportsQueryRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ReportsQueryRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ReportsQueryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportsQueryResult'
        400:
          description: Bad request. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        401:
          description: Unauthorized. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        403:
          description: Forbidden. The caller client is not configured to call the APIs pubilshed on the requested host:port.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        404:
          description: Not found. The given path is not mapped to any valid path in the API Proxy. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        429:
          description: Too many requests. Spike Arrest Fault or Quota Limit Fault (https://docs.apigee.com/api-platform/reference/policies/spike-arrest-policy#runtime-errors, https://docs.apigee.com/api-platform/reference/policies/concurrent-rate-limit-policy#errorcodes). Check the X-Quota-Reset (when the quota counter will be reset), X-Quota-Allowed (quota limit for the time period), X-Quota-Available (number of actually available API calls) response headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        500:
          description: Internal server error. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        503:
          description: Service unavailable. The backend service is unavailable for some reason. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
      security:
        - oauth2_client_credentials: []
        - basic_auth: []
  /shipments:
    post:
      tags:
        - Shipment
      summary: "Csomagadat(ok) beküldése.\r\n / \r\nSubmission of parcel data."
      description: "Egy hívásban legfeljebb 100 szállítmány adatai küldhetők be.\r\n            Szállítmányon belül a csomagok száma nincs korlátozva, de az egyszerre beküldött tételek számának növelésével a feldolgozási idő is növekedni fog.\r\n            A túl hosszú feldolgozási idő a hívó oldalon timeoutot eredményezhet, emiatt célszerű ezt tapasztalati úton megválasztani.\\\r\n             / \\\r\n            The data of up to 100 consignments can be submitted in one call. There is no limit to the number of parcels within a consignment, but with the increasing item submissions, the handling time will also increase. It the handling time is too long it may result in a timeout on the call page, therefore it is advisable to choose it based on experience."
      parameters:
        - name: X-Request-Id
          in: header
          schema:
            type: string
            format: uuid
          required: true
          description: "A kérés egyedi azonosítója (UUID formátumban)\r\n / \r\nThe unique request ID (UUID format)"
        - name: X-Correlation-Id
          in: header
          schema:
            type: string
            format: uuid
          required: false
          description: "Korrelációs azonosító (UUID formátumban)\r\n / \r\nThe request correlation ID (UUID format)"
        - name: X-Accounting-Code
          in: header
          schema:
            type: string
          required: true
          description: "Vevőkód\r\n / \r\nThe accounting code"
      requestBody:
        description: Az új szállítmányok értékei JSON formátumban.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ShipmentCreateRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ShipmentCreateRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ShipmentCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentCreateResult'
        400:
          description: Bad request. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        401:
          description: Unauthorized. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        403:
          description: Forbidden. The caller client is not configured to call the APIs pubilshed on the requested host:port.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        404:
          description: Not found. The given path is not mapped to any valid path in the API Proxy. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        429:
          description: Too many requests. Spike Arrest Fault or Quota Limit Fault (https://docs.apigee.com/api-platform/reference/policies/spike-arrest-policy#runtime-errors, https://docs.apigee.com/api-platform/reference/policies/concurrent-rate-limit-policy#errorcodes). Check the X-Quota-Reset (when the quota counter will be reset), X-Quota-Allowed (quota limit for the time period), X-Quota-Available (number of actually available API calls) response headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        500:
          description: Internal server error. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        503:
          description: Service unavailable. The backend service is unavailable for some reason. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
      security:
        - oauth2_client_credentials: []
        - basic_auth: []
    get:
      tags:
        - Shipment
      summary: "Visszaadja, hogy az adott ügyfél milyen csomagjairól mit tud opcionálisan csak a megadott időpontok között és megadott darabszámig.\r\n / \r\nIndicates what is known about what parcels of the given customer, optionally, only between the specified times and up to the specified number of parcels."
      parameters:
        - name: X-Request-Id
          in: header
          schema:
            type: string
            format: uuid
          required: true
          description: "A kérés egyedi azonosítója (UUID formátumban)\r\n / \r\nThe unique request ID (UUID format)"
        - name: X-Correlation-Id
          in: header
          schema:
            type: string
            format: uuid
          required: false
          description: "Korrelációs azonosító (UUID formátumban)\r\n / \r\nThe request correlation ID (UUID format)"
        - name: X-Accounting-Code
          in: header
          schema:
            type: string
          required: true
          description: "Vevőkód\r\n / \r\nThe accounting code"
        - name: fromDate
          in: query
          description: "Mettől szűrjön a lekérdezés.\r\n / \r\nFilter the query from."
          schema:
            type: string
            description: "Mettől szűrjön a lekérdezés.\r\n / \r\nFilter the query from."
            format: date
            nullable: true
            example: '2020.01.05.'
          example: '2020.01.05.'
        - name: toDate
          in: query
          description: "Meddig szűrjön a lekérdezés.\r\n / \r\nFilter the query to."
          schema:
            type: string
            description: "Meddig szűrjön a lekérdezés.\r\n / \r\nFilter the query to."
            format: date
            nullable: true
            example: '2020.01.10.'
          example: '2020.01.10.'
        - name: trackingNumbers
          in: query
          description: "A kiválasztott postai azonosítók (ragszámok)\r\n / \r\nSelected postal IDs"
          schema:
            type: array
            items:
              type: string
            description: "A kiválasztott postai azonosítók (ragszámok)\r\n / \r\nSelected postal IDs"
            nullable: true
        - name: tag
          in: query
          description: "Küldemény cimkéje\r\n / \r\nMail item label"
          schema:
            type: string
            description: "Küldemény cimkéje\r\n / \r\nMail item label"
            nullable: true
            example: 1. telephely
          example: 1. telephely
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentQueryResult'
        400:
          description: Bad request. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        401:
          description: Unauthorized. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        403:
          description: Forbidden. The caller client is not configured to call the APIs pubilshed on the requested host:port.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        404:
          description: Not found. The given path is not mapped to any valid path in the API Proxy. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        429:
          description: Too many requests. Spike Arrest Fault or Quota Limit Fault (https://docs.apigee.com/api-platform/reference/policies/spike-arrest-policy#runtime-errors, https://docs.apigee.com/api-platform/reference/policies/concurrent-rate-limit-policy#errorcodes). Check the X-Quota-Reset (when the quota counter will be reset), X-Quota-Allowed (quota limit for the time period), X-Quota-Available (number of actually available API calls) response headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        500:
          description: Internal server error. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        503:
          description: Service unavailable. The backend service is unavailable for some reason. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
      security:
        - oauth2_client_credentials: []
        - basic_auth: []
  /shipments/{trackingNumber}/item:
    post:
      tags:
        - Shipment
      summary: "Új csomag(ok) felvétele meglevő nem együtt kézbesítendő szállítmányba.\r\n / \r\nAdding of new parcel(s) to an existing separately deliverable consignment."
      parameters:
        - name: X-Request-Id
          in: header
          schema:
            type: string
            format: uuid
          required: true
          description: "A kérés egyedi azonosítója (UUID formátumban)\r\n / \r\nThe unique request ID (UUID format)"
        - name: X-Correlation-Id
          in: header
          schema:
            type: string
            format: uuid
          required: false
          description: "Korrelációs azonosító (UUID formátumban)\r\n / \r\nThe request correlation ID (UUID format)"
        - name: X-Accounting-Code
          in: header
          schema:
            type: string
          required: true
          description: "Vevőkód\r\n / \r\nThe accounting code"
        - name: trackingNumber
          in: path
          description: ''
          required: true
          schema:
            type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentItemAddRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ShipmentItemAddRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ShipmentItemAddRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentItemAddResult'
        400:
          description: Bad request. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        401:
          description: Unauthorized. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        403:
          description: Forbidden. The caller client is not configured to call the APIs pubilshed on the requested host:port.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        404:
          description: Not found. The given path is not mapped to any valid path in the API Proxy. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        429:
          description: Too many requests. Spike Arrest Fault or Quota Limit Fault (https://docs.apigee.com/api-platform/reference/policies/spike-arrest-policy#runtime-errors, https://docs.apigee.com/api-platform/reference/policies/concurrent-rate-limit-policy#errorcodes). Check the X-Quota-Reset (when the quota counter will be reset), X-Quota-Allowed (quota limit for the time period), X-Quota-Available (number of actually available API calls) response headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        500:
          description: Internal server error. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        503:
          description: Service unavailable. The backend service is unavailable for some reason. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
      security:
        - oauth2_client_credentials: []
        - basic_auth: []
  /shipments/label:
    get:
      tags:
        - Shipment
      summary: "Csomag(ok) címiratának lekérése. \r\n / \r\nQuery address label of parcel(s)"
      parameters:
        - name: X-Request-Id
          in: header
          schema:
            type: string
            format: uuid
          required: true
          description: "A kérés egyedi azonosítója (UUID formátumban)\r\n / \r\nThe unique request ID (UUID format)"
        - name: X-Correlation-Id
          in: header
          schema:
            type: string
            format: uuid
          required: false
          description: "Korrelációs azonosító (UUID formátumban)\r\n / \r\nThe request correlation ID (UUID format)"
        - name: X-Accounting-Code
          in: header
          schema:
            type: string
          required: true
          description: "Vevőkód\r\n / \r\nThe accounting code"
        - name: trackingNumbers
          in: query
          description: "A kiválasztott postai azonosítók (ragszámok)\r\n / \r\nSelected postal IDs (tracking numbers)"
          required: true
          schema:
            type: array
            items:
              type: string
            description: "A kiválasztott postai azonosítók (ragszámok)\r\n / \r\nSelected postal IDs (tracking numbers)"
        - name: labelType
          in: query
          description: "A címirat formátuma\r\n / \r\nAddress label format"
          schema:
            enum:
              - A4
              - A5
              - A5inA4
              - A5E
              - A5E_EXTRA
              - A5E_STAND
              - A6
              - A6inA4
              - A4ONE
            type: string
            description: "Postai címirat formátum.  A formátumokról bővebben olvashat a Dokumentáció menüben.\n             / \n            Format of postal address label.  Details on formats can be found in the Documentation menu, this text only contains a concise summary.\r\n\r\n* `A4` - A címirat mérete A4; 210 mm x 297 mm.\n             /\n            Address label size A4; 210 mm x 297 mm.\r\n* `A5` - A címirat A4-es lapon, a lap felső részében kerül elhelyezésre.\n             /\n            The address label is placed on an A4 sheet at the top of the page\r\n* `A5inA4` - Két A5-ös fekvő címirat kerülhet elhelyezésre egy A4-es lapon.\n             / \n            Two A5 landscape address labels can be placed on one A4 sheet.\r\n* `A5E` - A5 méretű fekvő pozíciójú címirat, ami a két kiegészítő fülrész nélkül kerül előállításra.\n             / \n            A5 landscape address label printed without the two additional tabs.\r\n* `A5E_EXTRA` - A5 méretű fekvő pozíciójú címirat, a két kiegészítő fülrésszel kerül előállításra.\n             / \n            A5 size landscape address label with two additional tabs.\r\n* `A5E_STAND` - A5 méretű, álló pozíciójú címirat, a két kiegészítő fülrész nélkül.\n             / \n            A5 size portrait address label without the two additional tabs.\r\n* `A6` - A címirat A6-os méretben készül el, valós mérete 148,5x105 mm.\n             / \n            The address label is printed in A6 size. The actual size of the address label is 148.5x105 mm.\r\n* `A6inA4` - Egy A4-es lapon négy darab A6-os címirat kerülhet elhelyezésre. \n             / \n            Four A6 address labels can be placed on one A4 sheet.\r\n* `A4ONE` - Ez a címirattípus 1 db csomag feladásához szükséges címiratot és feladójegyzéket tartalmaz egy A4-es lapon.\n            / \n            This address label type contains address label and posting list required to dispatch 1 parcel on an A4 sheet.\r\n"
            example: A5
          example: A5
        - name: labelFormat
          in: query
          description: A generált címirat formátuma
          schema:
            enum:
              - PDF
              - ZPL
            type: string
            description: A generált címirat formátuma
            default: PDF
            nullable: true
        - name: orderBy
          in: query
          description: "A címiratok sorrendje a PDF fájlon belül.\r\n / \r\nOrder of the address labels in the PDF file."
          schema:
            enum:
              - SENDING
              - IDENTIFIER
            type: string
            description: "A címiratok sorrendje a PDF fájlon belül.\r\n / \r\nOrder of the address labels in the PDF file."
            nullable: true
        - name: singleFile
          in: query
          description: "Az eredmény címiratok egyetlen PDF fájlban vagy külön PDF fájlokban készüljenek\r\n / \r\nCreate address label results in a single PDF or in separate PDFs"
          schema:
            type: boolean
            description: "Az eredmény címiratok egyetlen PDF fájlban vagy külön PDF fájlokban készüljenek\r\n / \r\nCreate address label results in a single PDF or in separate PDFs"
            nullable: true
            example: true
          example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LabelQueryResult'
        400:
          description: Bad request. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        401:
          description: Unauthorized. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        403:
          description: Forbidden. The caller client is not configured to call the APIs pubilshed on the requested host:port.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        404:
          description: Not found. The given path is not mapped to any valid path in the API Proxy. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        429:
          description: Too many requests. Spike Arrest Fault or Quota Limit Fault (https://docs.apigee.com/api-platform/reference/policies/spike-arrest-policy#runtime-errors, https://docs.apigee.com/api-platform/reference/policies/concurrent-rate-limit-policy#errorcodes). Check the X-Quota-Reset (when the quota counter will be reset), X-Quota-Allowed (quota limit for the time period), X-Quota-Available (number of actually available API calls) response headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        500:
          description: Internal server error. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        503:
          description: Service unavailable. The backend service is unavailable for some reason. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
      security:
        - oauth2_client_credentials: []
        - basic_auth: []
  /shipments/{trackingNumber}:
    get:
      tags:
        - Shipment
      summary: "Ragszám szerinti feladandó tétel lekérdezése.\r\n / \r\nQuerying of item to be sent through tracking number."
      parameters:
        - name: X-Request-Id
          in: header
          schema:
            type: string
            format: uuid
          required: true
          description: "A kérés egyedi azonosítója (UUID formátumban)\r\n / \r\nThe unique request ID (UUID format)"
        - name: X-Correlation-Id
          in: header
          schema:
            type: string
            format: uuid
          required: false
          description: "Korrelációs azonosító (UUID formátumban)\r\n / \r\nThe request correlation ID (UUID format)"
        - name: X-Accounting-Code
          in: header
          schema:
            type: string
          required: true
          description: "Vevőkód\r\n / \r\nThe accounting code"
        - name: trackingNumber
          in: path
          description: "Szállítmány azonosító\r\n / \r\nPostal ID"
          required: true
          schema:
            minLength: 1
            type: string
            description: "Szállítmány azonosító\r\n / \r\nPostal ID"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentQueryResult'
        400:
          description: Bad request. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        401:
          description: Unauthorized. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        403:
          description: Forbidden. The caller client is not configured to call the APIs pubilshed on the requested host:port.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        404:
          description: Not found. The given path is not mapped to any valid path in the API Proxy. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        429:
          description: Too many requests. Spike Arrest Fault or Quota Limit Fault (https://docs.apigee.com/api-platform/reference/policies/spike-arrest-policy#runtime-errors, https://docs.apigee.com/api-platform/reference/policies/concurrent-rate-limit-policy#errorcodes). Check the X-Quota-Reset (when the quota counter will be reset), X-Quota-Allowed (quota limit for the time period), X-Quota-Available (number of actually available API calls) response headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        500:
          description: Internal server error. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        503:
          description: Service unavailable. The backend service is unavailable for some reason. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
      security:
        - oauth2_client_credentials: []
        - basic_auth: []
    delete:
      tags:
        - Shipment
      summary: "Ragszám szerinti tétel törlése.\r\n / \r\nDeletion of item by tracking number."
      parameters:
        - name: X-Request-Id
          in: header
          schema:
            type: string
            format: uuid
          required: true
          description: "A kérés egyedi azonosítója (UUID formátumban)\r\n / \r\nThe unique request ID (UUID format)"
        - name: X-Correlation-Id
          in: header
          schema:
            type: string
            format: uuid
          required: false
          description: "Korrelációs azonosító (UUID formátumban)\r\n / \r\nThe request correlation ID (UUID format)"
        - name: X-Accounting-Code
          in: header
          schema:
            type: string
          required: true
          description: "Vevőkód\r\n / \r\nThe accounting code"
        - name: trackingNumber
          in: path
          description: "Szállítmány azonosító\r\n / \r\nPostal ID"
          required: true
          schema:
            minLength: 1
            type: string
            description: "Szállítmány azonosító\r\n / \r\nPostal ID"
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ShipmentDeleteResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentDeleteResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ShipmentDeleteResult'
        400:
          description: Bad request. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        401:
          description: Unauthorized. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        403:
          description: Forbidden. The caller client is not configured to call the APIs pubilshed on the requested host:port.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        404:
          description: Not found. The given path is not mapped to any valid path in the API Proxy. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        429:
          description: Too many requests. Spike Arrest Fault or Quota Limit Fault (https://docs.apigee.com/api-platform/reference/policies/spike-arrest-policy#runtime-errors, https://docs.apigee.com/api-platform/reference/policies/concurrent-rate-limit-policy#errorcodes). Check the X-Quota-Reset (when the quota counter will be reset), X-Quota-Allowed (quota limit for the time period), X-Quota-Available (number of actually available API calls) response headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        500:
          description: Internal server error. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        503:
          description: Service unavailable. The backend service is unavailable for some reason. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
      security:
        - oauth2_client_credentials: []
        - basic_auth: []
  /shipments/close:
    post:
      tags:
        - Shipment
      summary: "Jegyzékzárási kérés. Egyazon beszállítással feladni kívánt csomagok halmazának zárása, továbbá a zárásról egy szállítólevél igénylése. A lezárandó szállítmányokban alkalmazott feladói adatok (megállapodás, feladói név, feladói cím, bankszámla), illetve az irány (inverz?) függvényében a válaszunk akár több objektumot is tartalmazhat.\r\n / \r\nRequest for closing the list. Closing a set of mail items to be dispatched with the same transport, and requesting a delivery note on the closing of the list. Depending on the data (agreement, sender’s name, sender’s address, bank account) and direction (inverse?) used in the shipments to be closed, our response may contain several objects."
      parameters:
        - name: X-Request-Id
          in: header
          schema:
            type: string
            format: uuid
          required: true
          description: "A kérés egyedi azonosítója (UUID formátumban)\r\n / \r\nThe unique request ID (UUID format)"
        - name: X-Correlation-Id
          in: header
          schema:
            type: string
            format: uuid
          required: false
          description: "Korrelációs azonosító (UUID formátumban)\r\n / \r\nThe request correlation ID (UUID format)"
        - name: X-Accounting-Code
          in: header
          schema:
            type: string
          required: true
          description: "Vevőkód\r\n / \r\nThe accounting code"
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentCloseRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ShipmentCloseRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ShipmentCloseRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentCloseResult'
        400:
          description: Bad request. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        401:
          description: Unauthorized. The provided access token is not valid. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        403:
          description: Forbidden. The caller client is not configured to call the APIs pubilshed on the requested host:port.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        404:
          description: Not found. The given path is not mapped to any valid path in the API Proxy. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        429:
          description: Too many requests. Spike Arrest Fault or Quota Limit Fault (https://docs.apigee.com/api-platform/reference/policies/spike-arrest-policy#runtime-errors, https://docs.apigee.com/api-platform/reference/policies/concurrent-rate-limit-policy#errorcodes). Check the X-Quota-Reset (when the quota counter will be reset), X-Quota-Allowed (quota limit for the time period), X-Quota-Available (number of actually available API calls) response headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        500:
          description: Internal server error. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
        503:
          description: Service unavailable. The backend service is unavailable for some reason. Check the value of the X-Error-Source response header. If it is Backend, then the error was generated in the backend system. If it is Gateway, then the error was generated in the API Gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGatewayErrorResponse'
      security:
        - oauth2_client_credentials: []
        - basic_auth: []
components:
  schemas:
    Address:
      required:
        - address
        - city
        - postCode
      type: object
      properties:
        postCode:
          maxLength: 4
          minLength: 1
          type: string
          description: "Irányítószám\r\n / \r\nPostcode"
          example: '1234'
        city:
          maxLength: 35
          minLength: 2
          type: string
          description: "Helység\r\n / \r\nSettlement"
          example: Budapest
        address:
          maxLength: 60
          minLength: 3
          type: string
          description: "►INT◄ MaxLength: 64 \\\r\nCímadatok (utca, házszám).\r\n / \r\nAddress data (street, house number)."
          example: Petőfi Sándor utca 1.
        remark:
          maxLength: 50
          type: string
          description: "Opcionális megjegyzés.\r\n / \r\nOptional remark."
          nullable: true
          example: 'kapucsengő: Kovács'
      additionalProperties: false
      description: "Cím\r\n / \r\nAddress"
    CityCodeQueryRequest:
      type: object
      properties:
        postCode:
          type: string
          description: "Irányítószám\r\n / \r\nPostcode"
          nullable: true
          example: '5000'
      additionalProperties: false
      description: Helység lekérdezés kérés
    CityCodeQueryResult:
      type: object
      properties:
        cities:
          type: array
          items:
            type: string
          description: "Helységnevek listája\r\n / \r\nList of settlements"
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDescriptor'
          description: "A kérés végrehajtása során észlelt hibák. Amennyiben van hibalista, úgy az adott kérés sikertelenül zárult.\r\n / \r\nErrors detected during request execution. If there is an error list, the request was unsuccessful."
          nullable: true
      additionalProperties: false
      description: "Helység lekérdezés eredmény\r\n / \r\nSettlement query result"
    Contact:
      required:
        - name
      type: object
      properties:
        name:
          maxLength: 150
          minLength: 2
          type: string
          description: "►INT◄ MaxLength: 120 \\\r\nNév.\r\n / \r\nName."
          example: Kovács János
        email:
          maxLength: 60
          minLength: 6
          type: string
          description: "Érvényes email cím. \r\n / \r\nValid e-mail address."
          nullable: true
          example: kovacs@janos.hu
        phone:
          maxLength: 14
          type: string
          description: "A telefonszámnak magyarnak kell lennie E.164 formátumban: +36(1|20|30|70|...)1234567\r\n / \r\nThe phone number must be in Hungarian, in E.164 format: +36(1|20|30|70|...)1234567"
          nullable: true
          example: '+3612345678'
        organization:
          maxLength: 120
          minLength: 1
          type: string
          description: "Szervezet\r\n / \r\nOrganization"
          nullable: true
          example: Példa Kft.
      additionalProperties: false
      description: "Kapcsolattartó adatai.\r\n / \r\nContact person’s data."
    Custom:
      type: object
      properties:
        produceCount:
          maximum: 10000
          exclusiveMaximum: true
          type: integer
          description: Darabszám / Number of pieces
          format: int64
          nullable: true
          example: 5
        produceName:
          maxLength: 100
          type: string
          description: Név / Name
          nullable: true
          example: Labda
        produceValue:
          type: number
          description: Érték / Value
          format: double
          nullable: true
          example: 3000
        tariffCode:
          maxLength: 10
          type: string
          description: Tarifakód / Tariff code
          nullable: true
          example: '91021200'
        country:
          maxLength: 2
          type: string
          description: Ország / Country
          nullable: true
          example: DE
        weightValue:
          maximum: 9223372036854775807
          exclusiveMaximum: true
          type: integer
          description: Súly / Weight
          format: int64
          nullable: true
          example: 500
      additionalProperties: false
      description: Árutartalom / Produce content
    DeliveryAddress:
      required:
        - address
        - city
        - postCode
      type: object
      properties:
        postCode:
          maxLength: 4
          minLength: 1
          type: string
          description: "►INT◄ MaxLength: 10 \\\r\nIrányítószám\r\n / \r\nPostcode"
          example: '1234'
        city:
          minLength: 2
          type: string
          description: "Helység\r\n / \r\nSettlement"
          example: Budapest
        address:
          maxLength: 60
          minLength: 3
          type: string
          description: "►INT◄ MaxLength: 64 \\\r\nAz utca és házszám.\r\n / \r\nStreet and house number."
          example: Fecske utca 1
        parcelPickupSite:
          maxLength: 60
          minLength: 3
          type: string
          description: "►DOM◄ Postapont/csomagautomata/postahely neve, amennyiben oda kérik a szállítást. Ebben az esetben is meg kell adni a címzett címét.\r\n / \r\nName of PostaPoint/parcel terminal/postal outlet, if delivery is requested there. In this case, the recipient's address must also be provided."
          nullable: true
          example: 43078 sz. MOL töltőállomás
        remark:
          maxLength: 50
          type: string
          description: "Opcionális megjegyzés.\r\n / \r\nOptional remark."
          nullable: true
          example: 'Nem jó a csengő, dudáljon a futár'
        countryCode:
          type: string
          description: Országkód
          nullable: true
          example: DE
      additionalProperties: false
      description: "Címzetti cím\r\n / \r\nRecipient's address"
    DeliveryPlaceRequest:
      required:
        - deliveryplacesQuery
      type: object
      properties:
        deliveryplacesQuery:
          $ref: '#/components/schemas/DeliveryPlacesQuery'
        servicePointType:
          type: array
          items:
            enum:
              - PM
              - CS
              - PP
            type: string
            description: "Szolgáltatási pont típusa.\n             / \n            Type of service points.\r\n\r\n* `PM` - postán maradó\n             / \n            Poste restante\r\n* `CS` - csomagautomata\n             / \n            parcel terminal\r\n* `PP` - Posta pont\n             / \n            PostaPoint\r\n"
          description: "Szolgáltatási pont típusa.\r\n / \r\nType of service point."
          nullable: true
      additionalProperties: false
      description: "Fixponti kézbesítési helyek lekérdezés kérés. Üres tömb beküldése esetén az összes fixpontunkat megkaphatja egyetlen lekérdezéssel.\\\r\nHáznál kézbesítésen (HA) kívül háromféle másik, úgynevezett fixponti kézbesítési mód támogatott: PostaPont(PP), Postán maradó(PM), Csomagautomata(CS).\\\r\nFixponti kézbesítés választása esetén a folyamatban később, a csomag adatainak beküldésekor két adatra lesz szükség: a fixponti hely pontos neve (string), illetve a kézbesítési mód kódja (PP, PM, CS).\\\r\n / \\\r\nRequest for the query of places of fixed point delivery. In case of sending in an empty array, you may receive all of our fixed point by one query.\\\r\nBesides home delivery(HD), three other so-called fixed point delivery methods are supported: Postal Point(PP), Poste Restante(PR), Parcel Terminal(PT).\\\r\nIn case of choosing fixed point delivery, two pieces of information shall be provided later in the process, when sending in the data of the mail item: the correct name of the place of fixed point (string) and the code of the delivery method (PP, PR, PT)."
    DeliveryPlaceResult:
      type: object
      properties:
        deliveryplacesQueryResult:
          $ref: '#/components/schemas/DeliveryplacesQueryResult'
        servicePointType:
          type: array
          items:
            enum:
              - PM
              - CS
              - PP
            type: string
            description: "Szolgáltatási pont típusa.\n             / \n            Type of service points.\r\n\r\n* `PM` - postán maradó\n             / \n            Poste restante\r\n* `CS` - csomagautomata\n             / \n            parcel terminal\r\n* `PP` - Posta pont\n             / \n            PostaPoint\r\n"
          description: "Szolgáltatási pont típusa.\r\n / \r\nType of service point."
          nullable: true
      additionalProperties: false
      description: "Alternatív kézbesítési helyek lekérdezésének eredménye\r\n / \r\nAlternative delivery locations query results"
    DeliveryPlacesQuery:
      type: object
      properties:
        postCode:
          type: string
          description: "Irányítószám\r\n / \r\nPostcode"
          nullable: true
          example: '2661'
        city:
          type: string
          description: "Helység\r\n / \r\nSettlement"
          nullable: true
          example: Balassagyarmat
      additionalProperties: false
      description: "Lekérdezés paraméterek\r\n / \r\nQuery parameters"
    DeliveryplacesQueryResult:
      type: object
      properties:
        deliveryplace:
          type: string
          description: "Kézbesítési hely neve\r\n / \r\nName of place of delivery"
          nullable: true
        postCode:
          type: string
          description: "Irányítószám\r\n / \r\nPostcode"
          nullable: true
        city:
          type: string
          description: "Helység\r\n / \r\nSettlement"
          nullable: true
        address:
          type: string
          description: "Utca és házszám\r\n / \r\nStreet and house number"
          nullable: true
        geocodeLat:
          type: number
          description: "Földrajzi szélesség koordináta.\r\n/ \r\nGeographic latitude coordinate."
          format: double
          nullable: true
        geocodeLong:
          type: number
          description: "Földrajzi hosszúság koordináta.\r\n/ \r\nGeographic longitude coordinate."
          format: double
          nullable: true
        id:
          type: string
          description: "Postai egyedi azonosító. Csomagadat beküldése során a parcelPickupSite mező ezzel az értékkel is tölthető, a neve helyett.\r\n/ \r\nPostal unique ID. When posting a shipment, the field of parcelPickupSite can also be filled with it, instead of filling with name."
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDescriptor'
          description: "A kérés végrehajtása során észlelt hibák. Amennyiben van hibalista, úgy az adott kérés sikertelenül zárult.\r\n / \r\nErrors detected during request execution. If there is an error list, the request was unsuccessful."
          nullable: true
      additionalProperties: false
      description: "a lekérdezésnek megfelelő pkézbesítésihelyek adatai\r\n / \r\ndata of the delivery points corresponding to the query"
    Document:
      type: object
      properties:
        authorisationNr:
          maxLength: 64
          type: string
          description: Engedélyszám / Authorisation number
          nullable: true
          example: EU 2021-000012
        name:
          maxLength: 64
          type: string
          description: Dokumentum neve / Document name
          nullable: true
          example: 380 Kereskedelmi számla
      additionalProperties: false
      description: Dokumentum / Document
    ErrorDescriptor:
      type: object
      properties:
        code:
          type: string
          description: "Hibakód\r\n / \r\nError Code"
          nullable: true
          example: '103'
        parameter:
          type: string
          description: "További információ (például a hibás JSON mező neve)\r\n / \r\nAdditional information (such as the name of the invalid JSON field)"
          nullable: true
          example: sender.agreement
        text:
          type: string
          description: "Szöveges hibaüzenet\r\n / \r\nText error message"
          nullable: true
          example: A(z) "sender.agreement" mező hossza nem megfelelő.
        text_eng:
          type: string
          description: "Szöveges hibaüzenet angol nyelven\r\n / \r\nText error message"
          nullable: true
          example: A(z) "sender.agreement" mező hossza nem megfelelő.
      additionalProperties: false
      description: "Hiba adatai\r\n / \r\nError details"
    Invoice:
      required:
        - address
        - city
        - name
        - postCode
        - vatIdentificationNumber
      type: object
      properties:
        name:
          maxLength: 150
          minLength: 1
          type: string
          description: "A számla címzettje\r\n / \r\nThe recipient of the invoice"
          example: Számla Szilárd
        postCode:
          maxLength: 4
          minLength: 4
          type: string
          description: "Irányítószám\r\n / \r\nPostcode"
          example: '2323'
        city:
          maxLength: 35
          minLength: 2
          type: string
          description: "Helység\r\n / \r\nSettlement"
          example: Eger
        address:
          maxLength: 60
          minLength: 3
          type: string
          description: "Címadatok (utca, házszám).\r\n / \r\nAddress data (street, house number)."
          example: Egér út 1
        vatIdentificationNumber:
          maxLength: 15
          minLength: 1
          type: string
          description: "Adószám (kötőjelek és szóköz nélkül).\r\n / \r\nTax number (without hyphens and spaces)."
          example: '11111111233'
      additionalProperties: false
      description: "Számlázási adatok. Csak akkor kell kitölteni, ha nem a feladó nevére kérik a számlát. Ebben az esetben minden adatot meg kell adni.\r\n / \r\nInvoicing data. To be completed only if the invoice is not requested in the name of the sender. In this case, all data must be provided."
    Item:
      required:
        - services
      type: object
      properties:
        customData1:
          maxLength: 40
          type: string
          description: "►DOM◄ Tetszőleges adat (pl. ügyfél oldali azonosító), mely jegyzékzárás után is elkíséri a csomagot az életútja során (pl. nyomkövetésnél).\r\n / \r\nAny optional data (e.g. customer-side ID) which accompanies the mail item in its life path after the closing of the list (e.g. at tracking)."
          nullable: true
          example: 'Megrendelésazonosító: 26B22GR'
        customData2:
          maxLength: 40
          type: string
          description: "►DOM◄ Tetszőleges adat (pl. ügyfél oldali azonosító), mely jegyzékzárás után is elkíséri a csomagot az életútja során (pl. nyomkövetésnél).\r\n / \r\nAny optional data (e.g. customer-side ID) which accompanies the mail item in its life path after the closing of the list (e.g. at tracking)."
          nullable: true
          example: 'Vevőkód: 14433344'
        weight:
          $ref: '#/components/schemas/UnitValue'
        size:
          enum:
            - S
            - M
            - L
            - PRINT
            - PACK
          type: string
          description: "A csomag mérete. Csak két esetben kötelező. \\\r\nA) ►DOM◄ Csomagautomatára való címzéskor (deliveryMode:CS) az S, M, L értékek valamelyikével. \\\r\nB) ►INT◄ Nemzetközi gyorsposta alapszolgáltatás (service.basic: A_13_EMS) esetén a PRINT,PACK értékek valamelyikével. / \\\r\nStandard size of the item. To be specified only in two cases. \\\r\nA) ►DOM◄ When sending to a parcel terminal (deliveryMode:CS), using one of the S or M or L values. \\\r\nB) ►INT◄ When sending an international express mail (service.basic: A_13_EMS), using one of the PRINT or PACK values."
          nullable: true
        services:
          $ref: '#/components/schemas/Service'
        ewcCode:
          maxLength: 10
          type: string
          description: "A mező nem használható.\r\n/ \r\nThe field is not available."
          nullable: true
          example: ''
        qrCode:
          maxLength: 150
          type: string
          description: "A címiraton megjelenő ügyféladatokat tartalmazó QR kód tartalma. A mezőben a szabad szövegezésen túl használhatók az alábbi jelölők is <> között (További részletek a Dokumentáció menüben):\\\r\ntrackingnumber  -  13-hosszú küldeményazonosító \\\r\nbarcode  -  26-hosszú vonalkód \\\r\ncustomdata1  -  ügyféladat1 \\\r\ncustomdata2  -  ügyféladat2 \\\r\n / \\\r\nContent of the QR code containing the customer details appearing on the address label."
          nullable: true
        replacementPackage:
          $ref: '#/components/schemas/ReplacementPackage'
        customs:
          type: array
          items:
            $ref: '#/components/schemas/Custom'
          description: ►INT◄ Árutartalom listája
          nullable: true
        documents:
          type: array
          items:
            $ref: '#/components/schemas/Document'
          description: ►INT◄ Dokumentumok listája
          nullable: true
        senderParcelPickupSite:
          maxLength: 100
          type: string
          description: "►DOM◄ Csomagautomata neve, ahol feladják a csomagot.\r\n / \r\nName of Parcel terminal, if sending there."
          nullable: true
          example: 568 sz. automata - Savoya Park
      additionalProperties: false
      description: "Az egyes csomagok adatai.\r\n / \r\nDetails of each parcel."
    LabelQueryFilters:
      required:
        - trackingNumbers
      type: object
      properties:
        trackingNumbers:
          minItems: 1
          type: array
          items:
            type: string
          description: "A kiválasztott postai azonosítók (ragszámok)\r\n / \r\nSelected postal IDs (tracking numbers)"
        labelType:
          enum:
            - A4
            - A5
            - A5inA4
            - A5E
            - A5E_EXTRA
            - A5E_STAND
            - A6
            - A6inA4
            - A4ONE
          type: string
          description: "Postai címirat formátum.  A formátumokról bővebben olvashat a Dokumentáció menüben.\n             / \n            Format of postal address label.  Details on formats can be found in the Documentation menu, this text only contains a concise summary.\r\n\r\n* `A4` - A címirat mérete A4; 210 mm x 297 mm.\n             /\n            Address label size A4; 210 mm x 297 mm.\r\n* `A5` - A címirat A4-es lapon, a lap felső részében kerül elhelyezésre.\n             /\n            The address label is placed on an A4 sheet at the top of the page\r\n* `A5inA4` - Két A5-ös fekvő címirat kerülhet elhelyezésre egy A4-es lapon.\n             / \n            Two A5 landscape address labels can be placed on one A4 sheet.\r\n* `A5E` - A5 méretű fekvő pozíciójú címirat, ami a két kiegészítő fülrész nélkül kerül előállításra.\n             / \n            A5 landscape address label printed without the two additional tabs.\r\n* `A5E_EXTRA` - A5 méretű fekvő pozíciójú címirat, a két kiegészítő fülrésszel kerül előállításra.\n             / \n            A5 size landscape address label with two additional tabs.\r\n* `A5E_STAND` - A5 méretű, álló pozíciójú címirat, a két kiegészítő fülrész nélkül.\n             / \n            A5 size portrait address label without the two additional tabs.\r\n* `A6` - A címirat A6-os méretben készül el, valós mérete 148,5x105 mm.\n             / \n            The address label is printed in A6 size. The actual size of the address label is 148.5x105 mm.\r\n* `A6inA4` - Egy A4-es lapon négy darab A6-os címirat kerülhet elhelyezésre. \n             / \n            Four A6 address labels can be placed on one A4 sheet.\r\n* `A4ONE` - Ez a címirattípus 1 db csomag feladásához szükséges címiratot és feladójegyzéket tartalmaz egy A4-es lapon.\n            / \n            This address label type contains address label and posting list required to dispatch 1 parcel on an A4 sheet.\r\n"
          example: A5
        labelFormat:
          enum:
            - PDF
            - ZPL
          type: string
          description: A generált címirat formátuma
          default: PDF
          nullable: true
        orderBy:
          enum:
            - SENDING
            - IDENTIFIER
          type: string
          description: "A címiratok sorrendje a PDF fájlon belül.\r\n / \r\nOrder of the address labels in the PDF file."
          nullable: true
        singleFile:
          type: boolean
          description: "Az eredmény címiratok egyetlen PDF fájlban vagy külön PDF fájlokban készüljenek\r\n / \r\nCreate address label results in a single PDF or in separate PDFs"
          nullable: true
          example: true
      additionalProperties: false
      description: "Csomag(ok) címiratának lekérésének paraméterei\r\n / \r\nParameters for retrieving the address label of a parcel(s)"
    LabelQueryResult:
      type: object
      properties:
        trackingNumber:
          type: string
          description: A postai azonosító (ragszám).
          nullable: true
        label:
          type: string
          description: A base64 kódolt PDF formátumú címirat.
          format: byte
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDescriptor'
          description: 'A kérés végrehajtása során észlelt hibák. Amennyiben van hibalista, úgy az adott kérés sikertelenül zárult.'
          nullable: true
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/WarningDescriptor'
          description: 'A kérés végrehajtása során észlelt hiányosságok. Amennyiben a lista tartalmaz elemet, úgy az adott kérés sikeresen zárult.'
          nullable: true
      additionalProperties: false
      description: Csomag(ok) címiratának lekérésének eredménye
    NonUTF8Address:
      type: object
      properties:
        postCode:
          maxLength: 20
          type: string
          description: "Irányítószám\r\n / \r\nPostcode"
          nullable: true
          example: '1234'
        city:
          maxLength: 64
          type: string
          description: "Helység\r\n / \r\nSettlement"
          nullable: true
          example: Budapest
        address:
          maxLength: 105
          type: string
          description: "Címadatok (utca, házszám).\r\n / \r\nAddress data (street, house number)."
          nullable: true
          example: Petőfi Sándor utca 1.
        countryCode:
          maxLength: 3
          type: string
          description: "Országkód\r\n / \r\nCountry code."
          nullable: true
          example: HU
      additionalProperties: false
      description: "Alternatív címadatok (a nem csak latin betűket tartalmazó adatok itt adhatók meg, pl. kínai/cirill karakterek).\\\r\n / \r\nAlternative address data (data containing not only Latin characters can be entered here, e.g. Chinese/Cyrillic characters)."
    NonUTF8Contact:
      type: object
      properties:
        name:
          maxLength: 120
          type: string
          description: "Név.\r\n / \r\nName."
          nullable: true
          example: Kovács János
        organization:
          maxLength: 120
          type: string
          description: "Szervezet\r\n / \r\nOrganization"
          nullable: true
          example: Példa Kft.
      additionalProperties: false
      description: "Alternatív kapcsolattartó adatok (a nem csak latin betűket tartalmazó adatok itt adhatók meg, pl. kínai/cirill karakterek).\\\r\n / \r\nAlternative contact person data (data containing not only Latin characters can be entered here, e.g. Chinese/Cyrillic characters)."
    NonUTF8Recipient:
      type: object
      properties:
        contact:
          $ref: '#/components/schemas/NonUTF8Contact'
        address:
          $ref: '#/components/schemas/NonUTF8Address'
      additionalProperties: false
      description: "►INT◄ Alternatív címzetti adatok (a nem csak latin betűket tartalmazó adatok itt adhatók meg, pl. kínai/cirill karakterek).\\\r\n / \r\nAlternative recipient data (data containing not only Latin characters can be entered here, e.g. Chinese/Cyrillic characters)."
    NonUTF8Sender:
      type: object
      properties:
        contact:
          $ref: '#/components/schemas/NonUTF8Contact'
        address:
          $ref: '#/components/schemas/NonUTF8Address'
      additionalProperties: false
      description: "►INT◄ Alternatív feladói adatok (a nem csak latin betűket tartalmazó adatok itt adhatók meg, pl. kínai/cirill karakterek).\\\r\n / \r\nAlternative sender data (data containing not only Latin characters can be entered here, e.g. Chinese/Cyrillic characters)."
    Recipient:
      required:
        - address
        - contact
      type: object
      properties:
        contact:
          $ref: '#/components/schemas/Contact'
        address:
          $ref: '#/components/schemas/DeliveryAddress'
        luaCode:
          maxLength: 20
          minLength: 1
          type: string
          description: "A címzett (Lakossági Ügyfél Azonosítója) LÜA a postánál.\r\n / \r\nThe recipient’s Retail Customer ID (Hungarian abbreviation: ‘LÜA’) with Magyar Posta."
          nullable: true
        disabled:
          type: boolean
          description: "Fogyatékkal élők esetén kell megadni csomagautomatára való kézbesítéskor.\r\n / \r\nTo be provided for disabled people when delivering to a parcel terminal."
          nullable: true
      additionalProperties: false
      description: "A címzett adatai.\r\n\r\nA címzett címe (recipient.address.postCode/city/address) mindig a valós címet kell, hogy tartalmazza, kézbesítési módtól függetlenül.\r\nHa PM, PP, CS a kézbesítési mód, akkor a \"parcelPickupSite\" mezőbe a kiválasztott átvételi pont nevét kell beírni, és meg kell adni a vásárló valós címét.\r\n / \r\nData of the recipient.\r\nThe recipient's address (recipient.address.postCode/city/address) must always contain the valid address, regardless of the delivery method. \r\nIf the delivery method is PM, PP or CS, then the name of the selected collection point must be entered in the ‘parcelPickupSite’ field and the valid address of the customer must be entered."
    ReplacementLabel:
      type: object
      properties:
        trackingNumber:
          type: string
          description: "A posta által kiosztott küldemény azonosító\r\n / \r\nThe ID of the mail item delivered by Magyar Posta"
          nullable: true
        label:
          type: string
          description: "Címirat PDF formátumban base64 enkódolva.\r\n / \r\nAddress label in PDF format base64 encoded. format: byte"
          format: byte
          nullable: true
      additionalProperties: false
      description: "Inverz csomag címirat adatok\r\n / \r\nInverse parcel address data"
    ReplacementPackage:
      type: object
      properties:
        customData1:
          maxLength: 40
          type: string
          description: "Tetszőleges ügyféladat (pl. ügyfél oldali azonosító).\r\n / \r\nAny customer data (e.g.: identifier from the customer)."
          nullable: true
          example: 'Megrendelésazonosító: 26B22GR'
        customData2:
          maxLength: 40
          type: string
          description: "Tetszőleges ügyféladat (pl. ügyfél oldali azonosító).\r\n / \r\nAny customer data (e.g.: identifier from the customer)."
          nullable: true
          example: 'Vevőkód: 14433344'
        extra:
          type: array
          items:
            enum:
              - K_ENY
              - K_TER
              - K_UVT
              - K_TOR
              - K_ORZ
              - K_IDO
              - K_RLC
              - K_TEV
              - K_MSZ
              - K_SKZ
              - K_ALA
              - K_BER
              - K_EKE
              - K_AAT
              - K_AAA
              - K_DOK
              - K_TEP
              - K_PSZ
              - K_IDA
              - K_FNK
              - K_EXT
              - K_CSE
              - K_CSA
              - K_INV
              - K_LEH
              - K_TET
              - K_GLO
              - K_LEZ
              - K_POT
              - K_VNY
              - K_CSM
              - K_EFF
              - K_VIK
              - K_ZSK
              - K_EFC
              - K_DU
              - K_LX
              - K_KRC
              - K_ESZ
              - K_ETV
              - K_KRF
              - K_VAR
              - K_UTN
              - K_VER
              - K_EPR
              - K_IDG
              - K_KNY
              - K_KOR
              - K_PRE
              - K_UTK
              - K_ANT
              - K_CIP
            type: string
            description: "Többletszolgáltatások.\n             / \n            Additional services.\r\n\r\n* `K_ENY` - Értéknyilvánítás: értékes küldemény esetén használatos. A küldemény elveszése, megsemmisülése, sérülése vagy hiányossága esetén a feltüntetett összeg alapján a Posta kártérítést fizet.\\\n            Megadása esetén az item.value értékét meg kell adni.\\\n             / \\\n            Value insurance: used for valuable mail items. In case of loss, destruction, damage or incompleteness of the mail item, Magyar Posta pays compensation based on the indicated amount.\\\n            If specified, the item.value amount must be specified.\r\n* `K_TER` - Terjedelmes kezelés: a Posta vállalja nagyméretű küldemények egyedi, megkülönböztetett módon történő kezelését.\\\n            Ha a küldemény hossza 1000 mm-nél vagy összmérete 1800 mm-nél nagyobb, illetve alakja nem téglatest vagy boríték, természete miatt egyéb küldeménnyel nem rakható össze vagy eltérő kezelést kíván.\\\n             / \\\n            Bulky handling: Magyar Posta undertakes the individual and special handling of large mail items.\\\n            If the mail item is more than 1000 mm in length or more than 1800 mm in total size and is not a rectangle or envelope, it may not, by its nature, be grouped with other mail items or requires different handling.\r\n* `K_UVT` - Árufizetés: a címzett csak akkor kapja meg a számára feladott terméket, ha annak ellenértékét kifizeti. A Posta a beszedett összeget a feladó részére rövid időn belül készpénzben kézbesíti vagy a megjelölt bankszámlára utalja.\n            Megadása esetén az item.cod értékét meg kell adni.\\\n             / \\\n            Cash on delivery: the recipient only receives the product sent to them if they pay for it. Magyar Posta delivers the collected amount to the sender in cash within a short time or transfers it to the indicated bank account.\\\n            If specified, the item.cod value must be specified.\r\n* `K_TOR` - Törékeny kezelés: a Posta vállalja sérülékeny, törékeny tárgyat tartalmazó küldemények egyedi, megkülönböztetett módon történő kezelését.\\\n            Törékeny pótdíj terjedelmes, egyedi és extra kezelésű csomag esetén nem kerül felszámításra.\\\n             / \\\n            Fragile handling: Magyar Posta undertakes the individual, separate handling of mail items containing easily damaged, fragile objects.\\\n            No fragile surcharge is applied to bulky parcels or parcels requiring individual and extra handling.\r\n* `K_ORZ` - Őrzési idő: a postai szolgáltatóhelyre érkezés napját követő naptól számított hány munkanapig vehető át a küldemény.\\\n             / \\\n            Retention period: the number of business days from the day following the day of arrival at the postal service point during which the mail item can be collected.\r\n* `K_IDO` - Egy munkanapos időgarancia: a Posta vállalja, hogy a csomagot a felvétel napját követő munkanapon kézbesíti.\\\n             / \\\n            One business day time guarantee: the Magyar Posta undertakes to deliver the parcel on the business day following the day of collection.\r\n* `K_RLC` - Raklapcsere.\\\n            A Posta vállalja, hogy a feladó számára az általa a küldemény csomagolásához használt EUR szabványnak megfelelő raklap helyett azonos, szabványnak megfelelő másik csere-raklapot biztosít.\\\n             / \\\n            Pallet replacement.\\\n            Magyar Posta undertakes to provide the sender with a replacement pallet in compliance with the standard instead of the EUR-standard pallet used by them for the packaging of the mail item.\r\n* `K_TEV` - Tértivevény: a Posta a küldemény kézbesítését a címzettel az erre szolgáló okiraton elismerteti, és az okiratot a feladónak visszaküldi.\\\n             / \\\n            Advice of delivery: Magyar Posta makes the recipient acknowledge delivery of the mail item on the document used for this purpose, and returns this document to the sender.\r\n* `K_MSZ` - Szombati kézbesítés: a Posta vállalja a csomag kézbesítését a feladást követő első szombaton (vagy szombati munkarend szerinti napon) 8-12 óra között. A szolgáltatás csak bizonyos postákon vehető igénybe.\\\n             / \\\n            Saturday delivery: Magyar Posta undertakes to deliver the parcel on the first Saturday after its sending (or on a Saturday business day) between 8:00 and 12:00. The service is only available at certain post offices.\r\n* `K_SKZ` - Saját kézbe: csak a címzett kezébe történő kézbesítés. Kizárólag természetes személynek címzett küldemény esetén vehető igénybe. \\\n             / \\\n            Delivery to recipient in person: direct delivery to the recipient only. Available only for mail items addressed to natural persons.\r\n* `K_ALA` - Alkalmi átvevőnek kézbesíthető: ha a postacsomag, kézbesítése megkísérlésének időpontjában a címzett, a meghatalmazott, vagy a helyettes átvevő nem tartózkodik a címhelyen, a Posta a postai küldemény átvételére –alkalmi átvevőként –jogosultnak tekinti a címhely szerinti közvetlen szomszédot abban az esetben, ha erről a címzett kifejezetten így rendelkezett, megjelölve az alkalmi átvevőt, továbbá az alkalmi átvevő sem tiltakozik a postacsomag átvétele ellen.\\\n             / \\\n            May be delivered to an occasional recipient: if the recipient, authorised or deputy recipient is not present at the address at the time of the attempted delivery of the parcel, Magyar Posta considers the immediate neighbour at the address to be entitled to receive the mail item as an occasional recipient if this was expressly provided for by the recipient, indicating the occasional recipient, and the occasional recipient does not object to the receipt of the parcel.\r\n* `K_BER` - Címzett fizet\\\n            A címzett fizet (azaz bérmentesítés nélküli vagy portó) szolgáltatással postázott küldemények feladási díját nem a feladó, hanem a címzett fizeti. Az átvételig a postán letétbe kerül a küldemény.\\\n             / \\\n            Recipient pays\\\n            The recipient pays the postage fee for mail items mailed (without prepayment or postage fee) with the service, instead of the sender. Until receipt, the mail item is deposited at the post office.\r\n* `K_EKE` - Egyedi kezelés: előre rögzített tömeg- és mérethatárok felett szükséges igénybe venni.\\\n             / \\\n            Individual handling: it is necessary to use it above pre-set weight and size limits.\r\n* `K_AAT` - Tételes áruátadás: a Posta lehetőséget biztosít a küldemények címhelyen történő tételes, a belső tartalom számlálása alapján történő átvételére.\\\n             / \\\n            Itemised delivery of goods: Magyar Posta ensures the possibility for the itemised handover of mail items at the address based on checking and counting the internal content.\r\n* `K_AAA` - Áruházi átadás: a többletszolgáltatás keretében a megrendelt termékek a rendelési, illetve a szállítási adatok alapján mennyiségileg is ellenőrzött módon, valamint egyeztetés szerinti időintervallumban kerülnek az áruháznak átadásra.\\\n             / \\\n            Store delivery: within the framework of this additional service, ordered goods are delivered to the store, including inspection in terms of quantity based on the order data and the transport details, within the agreed period.\r\n* `K_DOK` - Dokumentum menedzsment: a Posta vállalja, hogy a feladott MPL Üzleti csomaghoz tartozó dokumentum, szerződés, tételes átadási lista megadott pontjait instrukciók alapján ellenőrzi, az átvevő személyét igazolja, a dokumentumok megjelölt pontjait kitölteti és aláíratja az átvevővel.\n            Az összegyűjtött dokumentumok fizikai, vagy fizikai és elektronikus formában kaphatók vissza.\\\n             / \\\n            Document management: Magyar Posta undertakes to check specific points of a document, contract or itemised transfer list belonging to a dispatched business parcel based on the sender’s instructions, to verify the person of the recipient, and to ensure that the required points of the documents are completed and signed by the recipient.\\\n            The collected documents can be returned in physical and electronic form.\r\n* `K_TEP` - Háznál történő felvétel: telefonon és e-mailben történő bejelentés alapján kérhető a postacsomag háznál/címhelyen történő felvétele. \\\n             / \\\n            Home collection: on the basis of notification by phone and e-mail, it is possible to request the collection of the postal parcel from home/at an address.\r\n* `K_PSZ` - Postaszolgálati: a feladónak vagy a címzettnek posta \"szervezetnek\" kell lennie. Ezeknél nincs feladási díj.\\\n             / \\\n            Postal service: the sender or recipient must be a postal ‘organization’. There is postage fee for these.\r\n* `K_IDA` - Időablak: a Posta vállalja, hogy a címhelyen elérhető érvényes időablakban kézbesíti a küldeményt.\\\n            A Posta 4 időablakot kezel: 07-09 óra, 08-12 óra, 12-16 óra vagy 17-20 óra között. \\\n             / \\\n            Time window: Magyar Posta undertakes to deliver the mail item in the valid time window available at the delivery address.\\\n            Magyar Posta has 4 time 
[...]
